<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<messageBus brokerUri="failover:tcp://localhost:61616" defaultQueryTimeout="1000">
		<heartbeat interval="30000"></heartbeat>
	</messageBus>
	<flightProxy uuid="71ae0ff0-5e21-11e1-b86c-0800200c9a66" name="Flight Proxy">
		<worker policy="AutoScheduleNewFlights;AutoTerminateOldFlights"></worker>
		<dcsAdapter bsmRootDir="/Users/dingyang/Public/Haihang/runable2/BSM" bsmLayout="structured" bsmBackupDir="/Users/dingyang/Public/Haihang/runable2/BSM/backup"></dcsAdapter>
	</flightProxy>
</configuration>
