<!DOCTYPE html>
<html>
<head>
    <title>虚拟化显示</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link rel="stylesheet/less" type="text/css" href="stylesheets/main.less">
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery.modal.css">
    <script src="scripts/less.js"></script>
    <script src="scripts/date.format.js"></script>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/jquery.path.js"></script>
    <script src="scripts/jquery.marquee.js"></script>
    <script src="scripts/jquery.modal.js"></script>
    <script src="scripts/underscore.js"></script>
    <script src="scripts/backbone.js"></script>
    <script src='scripts/stomp.js'></script>
</head>
<body oncontextmenu="return false;" ondragstart="return false;">
<header>
    <div id="clock">
        <p id="date"></p>
        <p id="time"></p>
    </div>
    <div id="messages">
        <p>
            <marquee><img src="images/logo.svg"><span id="message"></span></marquee>
        </p>
    </div>
</header>
<div id="middle">
    <div id="pool">
        <div id="track">
            <div id="dot-track">
                <div id="baggages">
                    <script id="baggage-template" type="text/template">
                        <div id="<%= id %>" class="mask">
                            <div class="baggage on <%= code %>"></div>
                        </div>
                    </script>
                </div>
                <div id="board">
                    <div id="padding"></div>
                        <script id="flight-header-template" type="text/template">
                            <li class="header">
                                <span style="width: 36%">航班号</span>
                                <span style="width: 16%">已分拣</span>
                                <span style="width: 16%">未分拣</span>
                                <span style="width: 16%">丢失</span>
                                <span style="width: 16%">总数</span>
                            </li>
                            <li class="header">
                                <span style="width: 36%">航班号</span>
                                <span style="width: 16%">已分拣</span>
                                <span style="width: 16%">未分拣</span>
                                <span style="width: 16%">丢失</span>
                                <span style="width: 16%">总数</span>
                            </li>
                        </script>
                        <script id="flight-item-template" type="text/template">
                            <li class="<%= code %>">
                                <span style="width: 36%"><%= number %></span>
                                <span style="width: 16%"><%= sorted %></span>
                                <span style="width: 16%"><%= unsorted %></span>
                                <span style="width: 16%"><%= missing %></span>
                                <span style="width: 16%"><%= total %></span>
                            </li>
                        </script>
                </div>
                <div id="tracktunnels">
                    <img style="top: 520px; left: 20px" src="images/tracktunnel.gif">
<!--                     <img style="top: 240px; left: 1720px; -webkit-transform: rotate(90deg);" src="images/tracktunnel.gif">
                    <img style="top: 707px; left: 100px" src="images/tracktunnel.gif">
                    <img style="top: 707px; left: 910px" src="images/tracktunnel.gif">
                    <img style="top: 707px; left: 1720px" src="images/tracktunnel.gif"> -->
                </div>
            </div>
            <img id="arrow1" src="images/arrow.png">
            <img id="arrow2" src="images/arrow.png">
        </div>
    </div>
    <div id="legend">
        <table>
            <tr>
                <td><img src="images/baggage.png"></td>
                <td><img src="images/lost.png"></td>
                <td><img src="images/conveyor.png"></td>
                <td><img src="images/arrow.png"></td>
                <td><img src="images/tracktunnel_3.gif"></td>
            </tr>
            <tr>
                <td>航班行李</td>
                <td>丢失行李</td>
                <td>传送带</td>
                <td>传送方向</td>
                <td>径控通道</td>
            </tr>
        </table>
    </div>
</div>
<footer>
    <p>
        <a href="#photo" rel="modal:open">签信通</a>－虚拟化显示 v2.0 &#169; 2012-2013
        <a class="reload" onclick="location.reload()">重新加载</a>
    </p>
</footer>
 <div id="photo" style="display:none;">
    <p><img src="images/photo.jpg"></p>
  </div>
<script src="scripts/main.js"></script>
</body>
</html>