<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/tagassist</property>
		<property name="connection.username">root</property>
		<property name="connection.password">tagsys</property>

		<!-- configuration pool via c3p0 -->
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">100</property> <!-- seconds -->
		<property name="c3p0.max_size">100</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.min_size">10</property>
		<property name="c3p0.timeout">100</property> <!-- seconds -->
		<!-- DEPRECATED very expensive property name="c3p0.validate> -->

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Mappings -->
		<mapping class="com.greenorbs.tagassist.BaggageInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.CheckingInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.CheckTunnelInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.DeviceInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.FacilityInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.FlightInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.IdentificationInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.MobileReaderInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.NotificationInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.TracingInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.TrackingInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.TrackTunnelInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.UserInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.WristbandBindingInfo"></mapping>
		<mapping class="com.greenorbs.tagassist.WristbandInfo"></mapping>

	</session-factory>

</hibernate-configuration>