<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuraiton>
<!-- 
<messageBus brokerUri="failover:tcp://192.168.40.100:61616" defaultQueryTimeout="1000">
		<heartbeat interval="30000"/>
	</messageBus>
-->	
<messageBus brokerUri="failover:tcp://localhost:61616" defaultQueryTimeout="1000">
		<heartbeat interval="30000"/>
	</messageBus>
<theme name="default"/>
<storages>
		<storage name="baggageStorage"
			class="com.greenorbs.tagassist.storage.memory.MemoryBaggageStorage" />
		<storage name="flightStorage"
			class="com.greenorbs.tagassist.storage.memory.MemoryFlightStorage" />
		<storage name="checkTunnelStorage"
			class="com.greenorbs.tagassist.storage.memory.MemoryCheckTunnelStorage" />
		<storage name="notificationStorage"
			class="com.greenorbs.tagassist.storage.memory.MemoryNotificationStorage" />
		<storage name="wristbandStorage"
			class="com.greenorbs.tagassist.storage.memory.MemoryWristbandStorage" />
		<storage name="trackTunnelStorage"
			class="com.greenorbs.tagassist.storage.memory.MemoryTrackTunnelStorage" />
		<storage name="mobileReaderStorage"
			class="com.greenorbs.tagassist.storage.memory.MemoryMobileReaderStorage" />

	</storages>
</configuraiton>
