<?xml version="1.0" encoding="GB2312" ?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %p (%C:%L) [%t]- %m%n" />
		</layout>
	</appender>
	<appender name="TraceFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="trace.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %p (%C:%L) [%t]- %m%n" />
		</layout>
	</appender>

	<logger name="com.greenorbs.tagassist">
		<level value="WARN" />
	</logger>
	<logger name="com.greenorbs.tagassist.checkout">
		<level value="DEBUG" />
	</logger>


	<root>
		<level value="ERROR" />
		<appender-ref ref="Console" />
		<appender-ref ref="TraceFile" />
	</root>


</log4j:configuration>